@model  Design.ViewModel.OfficeViewModel

@{
    ViewBag.Title = "Edit Office";
}

<h2>Create</h2>

<form method="post">
    @Html.HiddenFor(AllModel => AllModel.objoffice.Id, new { id = "hdnFlag" })
    <div class="form-group">
        @Html.LabelFor(AllModel => AllModel.objoffice.OfficeCode)
        @Html.EditorFor(AllModel => AllModel.objoffice.OfficeCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(AllModel => AllModel.objoffice.OfficeCode)
    </div>

    <div class="form-group">

        @Html.LabelFor(n => n.objoffice.Country)
        @Html.DropDownListFor(n => n.objoffice.Country, Model.Cntries, "Please Select Country"
       , new { @id = "Country" })
        @Html.ValidationMessageFor(n => n.objoffice.Country)

    </div>

    <div class="form-group">

        @Html.LabelFor(n => n.objoffice.City)
        @Html.DropDownListFor(n => n.objoffice.City, Model.Cties, "Please Select City",
       new { @id = "City" })
        @Html.ValidationMessageFor(n => n.objoffice.City)

    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.objoffice.State)
        @Html.DropDownListFor(n => n.objoffice.State, Model.states, "Please Select State",
       new { @id = "state" })
        @Html.ValidationMessageFor(n => n.objoffice.State)

    </div>
    <div class="form-group">
        @Html.LabelFor(AllModel => AllModel.objoffice.Phone)
        @Html.EditorFor(AllModel => AllModel.objoffice.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(AllModel => AllModel.objoffice.Phone)
    </div>

    <div class="form-group">
        @Html.LabelFor(AllModel => AllModel.objoffice.PostalCode)
        @Html.EditorFor(AllModel => AllModel.objoffice.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(AllModel => AllModel.objoffice.PostalCode)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
</form>



